<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.COMP4200Project"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>

        <activity android:name=".barChartActivity" android:label="Bar Chart Activity" />
        <activity android:name=".mainMenu" android:label="Main Menu" />
        <activity android:name=".biodexActivity" android:label="biodexActivity" />
        <activity android:name=".bodpodActivity" android:label="bodpod Activity" />
        <activity android:name=".wingateActivity" android:label="wingate Activity" />
        <activity android:name=".addAthleteRoster" android:label="athlete Roster" />
        <activity android:name=".addBiodex" android:label="add biodex" />
        <activity android:name=".addBodpod" android:label="add bodpod" />
        <activity android:name=".addWingate" android:label="add wingate" />
        <activity android:name=".AddAthleteActivity" android:label="add athlete" />
        <activity android:name=".CoachDashboardActivity" android:label="add wingate" />
        <activity android:name=".CoachViewRosterActivity" android:label="add wingate" />
        <activity android:name=".PlayerDashboardActivity" android:label="add wingate" />
        <activity android:name=".PlayerViewActivity" android:label="add wingate" />

    </application>

</manifest>